<%# Updated icon %>
<% content_for :page_actions do %>
  <%= button_link_to Spree.t('new_experience'), new_object_url, icon: 'add', class: 'btn-success' %>
<% end %>

<% content_for :page_title do %>
  <%= Spree.t(:listing_experiences) %>
<% end %>

<% content_for :table_filter_title do %>
  <%= Spree.t(:search) %>
<% end %>

<% content_for :table_filter do %>
  <div data-hook='admin_experiences_filter'>
    <%= search_form_for [:admin, @search] do |f| %>
        <div class="form-group">
          <%= f.label :name_cont, Spree.t(:name) %>
          <%= f.text_field :name_cont, :size => 15, class: "form-control" %>
        </div>
      <div class="clear"></div>
      <div class="form-actions" data-hook="admin_experiences_index_search_buttons">
        <%= button Spree.t(:search), 'search' %>
      </div>
    <% end %>
  </div>
<% end %>

<%# This is a new paginate! %>
<%= render :partial => 'spree/admin/shared/index_table_options', :locals => { :collection => @collection } %>

<% if @collection.any? %>
  <table class="table" id="listing_experiences">
    <thead>
      <tr data-hook='admin_experiences_index_headers'>
        <th><%= sort_link @search, :name,  Spree::Experience.human_attribute_name(:name) %></th>
        <th><%= sort_link @search, :email, Spree::Experience.human_attribute_name(:email) %></th>
        <th><%= Spree.t(:users) %></th>
        <th><%= sort_link @search, :active, Spree::Experience.human_attribute_name(:active) %></th>
        <th data-hook="admin_experiences_index_header_actions" class="actions"></th>
      </tr>
    </thead>
    <tbody>
    <%# Updated classes! %>
      <%- @collection.each do |experience| %>
        <tr <%= "style='color: red;'" if experience.deleted? %> id="<%= spree_dom_id experience %>" data-hook="admin_experiences_index_rows" class="<%= cycle('odd', 'even') %>">
          <!--todo: Fix this link!-->
          <td><%= link_to experience.name, edit_object_url(experience) %></td>
          <td><%= mail_to experience.email %></td>
          <td><%= experience.users.pluck(:email).join(', ') %></td>
          <td><%= experience.active %></td>
          <td class='actions actions-3' data-hook='admin_experiences_index_row_actions'>
            <% unless experience.deleted? %>
              <%= link_to_edit experience, :no_text => true, :class => 'edit' %>
              <%= link_to_delete experience, :no_text => true %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <%# New alert with link to add new experience %>
  <div class="alert alert-info no-objects-found">
    <%= Spree.t(:no_resource_found, resource: Spree::Experience.model_name.human(count: :many)) %>,
    <%= link_to Spree.t(:add_one), spree.new_admin_experience_path %>!
  </div>
<% end %>

<%# This is a new paginate! %>
<%= render :partial => 'spree/admin/shared/index_table_options', :locals => { :collection => @collection } %>